build/
.DS_Store
*.o
*.a
*.so
*.dylib
*.dll
*.exe
.vs/
.vscode/
CMakeCache.txt
cmake_install.cmake
Makefile
*.vcxproj
*.sln
.idea/
*.swp
*.swo
*~
.gradle/
*.kdev4
.clang_complete
compile_commands.json
